<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Headquater</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ABC Mart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sales</a>
              </li>
            </ul>
            <span class="navbar-text">
              HEADQUATER
            </span>
          </div>
        </div>
      </nav>


      <div class="container mt-5">
        
        <div class="row">
          <div class="col-md-8">
            <h3>Ventes</h3>
            
          </div>

          
          <div class="col-md-4">
            <h3>Messages</h3>
            <form method='post' action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="branch" class="form-label">Select Branch</label>
                    <select id="branch" class="form-select" name="sale" aria-label="Default select example">
                        <option selected value="MA">Matadi</option>
                        <option value="GO">Goma</option>
                        <option value="KI">Kisangani</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Votre Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                
                </br>
                <button type="submit" class="btn btn-primary">vendre</button>
              </form>
          </div>
      </div>
      
      <br>
    </div>
  </body>
</html>