<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celery Global Context</title>
</head>
<style>
    #progess{
        background-color: blue;
        height: 40px;
        width: 10%;
    }
</style>
<body>
   

    <div id="progress" style="background-color: blue;height: 40px; width: 3%;">...</div>
    {% comment %} {% csrf_token %} {% endcomment %}
    {% if tasks %}
        <ul class="list-group">
        {% for id in tasks %}
        <li class="list-group-item">Task Id: {{id}}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No tasks are available.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        
        
        function updateProgress(lot_id) {
            //console.log(lot_id)
            $.ajax({
                type: 'POST',
                url: '/students/get-task-info/',  // URL to your view that serves new info
                data: {
                    'lot_id' : JSON.stringify(lot_id),
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',     
                },
                success: function(data) {
                    console.log(data)
                    $('#progress').css({'width': data[lot_id] + '%'});   
                },
                error: function(data) {
                    console.log(0)
                    console.log(data)
                }
            });
        }

        {% comment %} task_ids = {{ tasks|safe}} {% endcomment %}
        lot_id = {{lot_id}}
        console.log(lot_id)
         setInterval(function(){
            updateProgress(lot_id)
        },2000)
        
        {% comment %} var task_group = `{
            "lot" : 10,
            "task_ids" : {{ tasks|safe}},
            "displayProgress" : false
        }` {% endcomment %}
        {% comment %} " {{ tasks|safe}}; {% endcomment %}
        {% comment %} console.log(task_group) {% endcomment %}


    </script>
</body>
</html>